<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
 "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<!-- <!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd"> -->
<mapper namespace="com.my.mysqlms.sys.user.mapper.UserMapper">
    
    <select id="findAllUsers" resultType="User">
        select * from m_user
    </select>
    
    <select id="findUserbyId" parameterType="Long" resultType="User">
        select * from m_user where id=#{id,jdbcType=BIGINT}
    </select>
    
    <insert id="saveUser" parameterType="User" keyProperty="id" useGeneratedKeys="true">
        insert into m_user (id,name,age) values
        (
          #{id,jdbcType=BIGINT},
          #{name,jdbcType=VARCHAR},
          #{age,jdbcType=INTEGER}
        )
    </insert>
    
    <update id="updateUser" parameterType="User">
        update m_user set
        name=#{name,jdbcType=VARCHAR},
        age=#{age,jdbcType=INTEGER}
        where id=#{id,jdbcType=BIGINT}
    </update>
    
    <delete id="deleteUser" parameterType="Long">
       delete from m_user where id=#{id,jdbcType=BIGINT} 
    </delete>
    
</mapper>